/* body{
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
} */

body{
    background: #BDBDBD !important;
}

.container-color{
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}

.container-user{
    display: flex;
    padding: 0.5rem !important; 
}

.navbar-color{
    background-color: #E91E63;
}

